{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0, 1) }}

{% macro menu_links(items, attributes, menu_level, menu_item) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <div class="collapse" id="modules-menu-wrapper{{ menu_level != 0 ? item : '' }}" data-parent="#block-modulescontent">
        <ul class="nav navbar-nav px-2 pt-2" id="modules-menu">
    {% else %}
      {% set show_sub_menu = false %}
      {% for item in items %}
        {% if item.in_active_trail %}
          {% set show_sub_menu = true %}
        {% endif %}
      {% endfor %}
      <ul class="collapse{{ show_sub_menu ? ' show' }}" id="item{{ menu_item }}" data-parent="#modules-menu-wrapper">
    {% endif %}
    {% for item in items %}
      {%
        set classes_link = [
          'nav-link',
          'py-2',
          'py-lg-1',
          'text-left',
          'text-lg-center',
          item.is_expanded ? 'dropdown-toggle',
          item.is_collapsed ? 'dropdown-toggle',
          item.in_active_trail ? 'active',
        ]
      %}
      {%
        set classes_button = [
          'btn',
          'btn-block',
          'dropdown-toggle',
          'p-0',
          'text-wrap',
        ]
      %}
      <li{{ item.attributes.addClass('nav-item') }}>
        {% if item.is_expanded %}
          <button {{ item.attributes.addClass(classes_button) }}" data-target="#item{{menu_item }}"
          data-toggle="collapse" aria-expanded="{{ item.in_active_trail ? 'true' : 'false' }}">{{ item.title }}</button>
        {% else %}
          {{ link(item.title, item.url, { 'class': classes_link }) }}
        {% endif %}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1, menu_item) }}
        {% endif %}
      </li>
      {% set menu_item = menu_item + 1 %}
    {% endfor %}
    {% if menu_level == 0 %}
        </ul>
      </div>
    {% else %}
      </ul>
    {% endif %}
  {% endif %}
{% endmacro %}
